.footer
  @include flex-column-center
  margin-top: auto
  padding-bottom: 20px
  gap: 8px

  &__navigation
    @media(max-width: $mobile-width)
      // flex-direction: column

  &__copyright
    font-size: clamp(12px, 2vw, 16px)
    color: $text-secondary
