.header
  position: relative
  width: 100%
  max-width: $desktop-width
  display: flex
  padding: 16px
  margin: 0 auto
  justify-content: space-between
  align-items: center
  z-index: 100

  &__name
    display: flex
    font-weight: 700
    font-size: clamp(16px, 6vw, 32px)
    color: black
    letter-spacing: -2px

  &__letter
    display: block
    transition: 0.1s
    transition-timing-function: ease-in
    &--hovered
      transform: translateX(10px)

  &__navigation
    display: flex
    gap: 8px
    &--mobile
      position: absolute
      top: 75px
      right: -100%
      flex-direction: column
      align-items: flex-end
      background-color: $light-background
      border-radius: 12px
      box-shadow: $card-shadow
      padding: 16px
      transition: right 0.4s ease-out
      z-index: 1000
      &-opened
        right: 16px
        transition: right 0.3s ease-out

.header:has(.header__navigation--mobile-opened)
  ~ .hero .hero__wrapper
    .hero__image-wrapper
      transform: rotateY(-25deg) translateX(-40px)
      opacity: 0.8

