.header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 16px

  &_name
    font-weight: 700
    font-size: clamp(16px, 4vw, 32px)
    color: black

  &_navigation
    display: flex
    gap: 8px
