@keyframes hero-marquee
  from
    transform: translate3d(0,0,0)
  to
    transform: translate3d(-33.33%,0,0)


@keyframes gear-flip
  0%
    transform: rotateX(90deg) translateY(-50%)
    opacity: 0

  40%
    opacity: 1

  100%
    transform: rotateX(0deg) translateY(0)
    opacity: 1


.hero
  &_wrapper
    @include section-layout
    position: relative
    @media(max-width: $mobile-width)
      min-height: 90vh

  &_image-wrapper
    width: 320px
    height: 320px
    border-radius: clamp(16px, 5vw, 999px)
    overflow: hidden
    transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1)

  &_parallax
    z-index: 0
    overflow: hidden
    &-image
      width: 420px
      height: auto
      pointer-events: none
      will-change: transform
      backface-visibility: hidden
      transform-style: preserve-3d

  &_image
    display: block
    width: 320px
    height: 320px
    object-fit: cover

  &_content
    position: relative
    z-index: 1
    display: flex
    flex-direction: column
    gap: 20px
    align-items: center
    text-align: center

  &_buttons-wrapper
    display: flex
    gap: 12px
    flex-wrap: wrap
    justify-content: center

  &_button
    &:focus-visible
      outline: none

  &_text-intro
    @include subscript-style

  &_name-marquee
    overflow: hidden

  &_name-track
    display: inline-block

  &_name
    margin: 6px 0
    font-size: clamp(22px, 4vw, 28px)
    font-weight: 700
    white-space: nowrap

  &_description
    position: relative
    display: flex
    gap: 8px
    justify-self: center
    // font-size: clamp(16px, 3vw, 18px)
    font-size: clamp(20px, 3vw, 24px)
    font-weight: 400
    color: $text-secondary

  &_word-with-effect
    position: absolute
    top: 0
    right: 50%

  &_links-wrapper
    display: flex
    gap: 16px

  &_link
    color: $text
    transition: 0.3s
    &:hover,
    &:focus-visible
      outline: none
      opacity: 0.6
    &:active
      opacity: 0.3

@media (max-width: $mobile-width)
  .hero_name-marquee
    width: 100vw
    overflow: hidden
    mask-image: linear-gradient(
      to right,
      transparent,
      black 20%,
      black 80%,
      transparent
    )

  .hero_name-track
    display: flex
    gap: 0px
    width: max-content
    animation: hero-marquee 8s linear infinite
    will-change: transform

  .hero_name
    font-size: clamp(86px, 10vw, 124px)
    padding-right: 24px
    text-transform: uppercase


.hero_gear
  position: relative
  width: 104px
  height: 1.2em
  perspective: 600px
  overflow: hidden
  display: inline-block
  text-align: right

.hero_gear-word
  position: absolute
  right: 0
  top: 0
  font-weight: 700
  color: $primary

  transform-origin: center center -20px
  animation: gear-flip 0.8s cubic-bezier(0.22, 1, 0.36, 1)
  will-change: transform, opacity

