.navigation

  &_menu
    display: flex
    flex-direction: row
    align-items: center
    gap: clamp(12px, 2vw, 24px)

    &.header_navigation--mobile
      flex-direction: column
      justify-content: space-between
      gap: 20px
      z-index: 1000

  &_link
    text-decoration: none

  &_item
    color: black
    font-size: clamp(12px, 2vw, 18px)
    margin: 0
    transition: 0.3s
    cursor: pointer
    &--footer
      font-size: clamp(16px, 1.5vw, 24px)
    &--header
      font-size: clamp(12px, 2vw, 18px)
    &--header-mobile
      font-size: 16px


    &:hover
      color: gray
