.projects
  &_container
    display: flex
    position: relative
    gap: 25vw
  &_wrapper
    display: grid
    grid-template-columns: repeat(auto-fit, 320px)
    width: 100%
    justify-content: center
    gap: 32px

    @media(max-width: $tablet-width)
      justify-content: center

    @media(max-width: $mobile-width)
      gap: 54px
