
@keyframes phone-take-in
  0%
    transform: translateY(-60%) perspective(900px) rotateX(6deg) scale(0.65)
  20%
    transform: translateY(-60%) perspective(900px) rotateX(6deg) scale(0.65)
  40%
    transform: translateY(-60%) perspective(900px) rotateX(6deg) scale(0.65)
  60%
    transform: translateY(-60%) perspective(900px) rotateX(6deg) scale(0.65)
  80%
    transform: translateY(-110%) perspective(900px) rotateX(8deg) scale(0.65)
  100%
    transform: scale(0.65)


@keyframes phone-take-out
  0%
    transform: scale(0.65)
  20%
    transform: translateY(-110%) perspective(900px) rotateX(8deg) scale(0.65)
  40%
    transform: translateY(-60%) perspective(900px) rotateX(6deg) scale(0.65)
  60%
    transform: translateY(-60%) perspective(900px) rotateX(6deg) scale(0.65)
  80%
    transform: translateY(-60%) perspective(900px) rotateX(6deg) scale(0.65)
  100%
    transform: translateY(-60%) perspective(900px) rotateX(6deg) scale(0.65)


@keyframes phone-frame-overflow-animation
  0%
    clip-path: inset(0 0 0 0)

  40%
    clip-path: inset(-200px 0 0 0)


@keyframes phone-frame-overflow-in
  0%
    clip-path: inset(0 0 0 0) // рамка закрыта

  40%
    clip-path: inset(-200px 0 0 0)

@keyframes phone-frame-overflow-out
  0%
    clip-path: inset(-200px 0 0 0)

  40%
    clip-path: inset(0 0 0 0)

  100%
    clip-path: inset(0 0 0 0)

.project-card
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  gap: clamp(12px, 3vw, 20px)
  padding: 9px
  background-color: darken($light-background, 5%)
  border-radius: clamp(16px, 4vw, 24px)
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.35)
  width: 100%
  max-width: 320px
  z-index: 100

  &:not(:has(.video_frame))
    padding: clamp(6px, 2vw, 8px)
    gap: clamp(6px, 3vw, 12px)

    @media (max-width: $mobile-width)
      & .project-card_children
        transform: scale(1)

  /* 🔑 hover = keyboard focus */
  &:hover,
  &:focus-within
    .project-card_children
      transform: translateY(-60%) scale(0.65)
      @media (max-width: $mobile-width)
          transform: translateY(-30%) scale(1)

    .project-card_frame:not(:has(.video_frame))
      overflow: visible
      animation: phone-frame-overflow 1s ease forwards
      clip-path: inset(-200px 0 0 0)


.project-card_frame
  position: relative
  width: 100%
  // max-width: 280px
  aspect-ratio: 1 / 0.85
  border-radius: clamp(12px, 3vw, 20px)
  background-color: var(--theme-color, transparent)
  box-shadow: 0 0 16px 1px $dark-background inset
  min-height: 0
  overflow: hidden
  clip-path: inset(-200px 0)
  &:not(:has(.video_frame))
    aspect-ratio: 1 / 0.5
    @media (max-width: $mobile-width)
      aspect-ratio: 1 / 0.4

    &:has(.project-card_children:hover)
      overflow: visible
      animation: phone-frame-overflow-animation 1s ease forwards
      clip-path: inset(-100px)

.frame-active
  overflow: visible
  animation: phone-frame-overflow-animation 1s ease forwards
  &:has(.children-active)
    animation: phone-frame-overflow-animation 1s ease forwards

.frame-leaving
  overflow: visible
  animation: phone-frame-overflow-animation 1s ease forwards
  animation-direction: reverse
  &:has(.children-leaving)
    animation: phone-frame-overflow-animation 1s ease forwards

.project-card_children
  position: relative
  width: 100%
  height: 100%
  padding: 20px
  border-radius: inherit
  display: flex
  justify-content: center
  align-items: flex-start
  cursor: pointer
  transition: transform 0.45s cubic-bezier(0.22,1,0.36,1)
  will-change: transform
  z-index: 1000
  transform: scale(0.65)
  &:hover
    transform: translateY(-60%) scale(0.65)


.portfolio_link
  outline: none

.children-active
  animation: phone-take-out 2s ease-out forwards

.children-leaving
  animation: phone-take-in 2s ease-in forwards

/* FRAME STATES */
.frame-rest
  overflow: hidden
  clip-path: inset(0 0)

.project-card_title
  font-size: clamp(18px, 4vw, 28px)
  font-weight: 600
  text-align: center
