.projects
  transition: 0.6s
  &-container
    width: 100vw
    height: min-content
    align-items: start
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(120px, 320px))
    justify-content: center
    gap: 32px
    &--web
      gap: 12px
  &__wrapper
    width: 200vw
    display: flex
    position: relative
    transition: 0.6s
