@import './variables.sass'
@import './Modules/Buttons.sass'
@import './Modules/Header.sass'
@import './Modules/ThreeDCard.sass'
@import './Modules/Toggle.sass'
@import './Modules/Navigation.sass'
@import './Modules/Hero.sass'
@import './Modules/Main.sass'
@import './Modules/Projects.sass'
@import './Modules/ProjectCard.sass'
@import './Modules/Video.sass'
@import './Modules/Contact.sass'
@import './Modules/Footer.sass'

*,
*::before,
*::after
  @include style-reset

html
  scroll-behavior: smooth

body
  background-color: $light-background
  font-family: 'Poppins', sans-serif

.section
  @include section-layout
  margin: auto
  padding: 16px 40px
  &_intro-text
    @include subscript-style;

  &_intro-title
    font-size: clamp(24px, 4vw, 32px)

  &_header
    @include flex-column-center

.visually-hidden
  position: absolute

  width: 1px
  height: 1px
  margin: -1px
  border: 0
  padding: 0

  basic-extra-light-space: nowrap
  clip-path: inset(100%)
  clip: rect(0 0 0 0)
  overflow: hidden
